+b.modals._filter.mfp-hide#filters.js-reset-parent
	+e.top
		+e.title Фильтры
	+e.center
		+e.inner.css-scrollbar#desktop-filters
	+e.bottom.flex._justify._vertical
		+e.button.transparent-button__._noscope.is-gray.js-reset-filters
			span Очистить все
		+e.button.transparent-button__._noscope.js-send-filters
			span Сохранить

+b.modals._service._right.mfp-hide#service-order
	+e.name.h2 Сообщение исполнителю
	+e.FORM.form.form(action="" enctype="multipart/form-data")
		+e.input.input__
			+e.TEXTAREA.field._textarea(name="message" placeholder="Введите ваше сообщение")
		+e.dropzone.dropzone__.js-dropzone
			+e.area
				+e.INPUT.file(name="file" type="file" multiple)
				+e.preview
					+e.item
						+e.row.flex._vertical
							+e.icon
								+icon('doc')
							+e.name
								+e.SPAN(data-dz-name)
								+e.SPAN.size
									| &nbsp;(
									span(data-dz-size)
									| )
								+e.SPAN.status(data-dz-uploadprogress)
									+e.IMG.status-preload(src="/app/img/preload.svg")
									span.progress-text
								+e.SPAN.remove.js-remove-file(data-dz-remove)
									+icon('delete')
			+e.BUTTON.button.border-button__.p.strong.js-dropzone-trigger(type="button")
				+e.icon._clip
					+e.IMG(src="/app/img/clip.svg")
				+e.text Прикрепить файл
		+e.BUTTON.button.btn__.js-modal(data-modal="#service-thanks")
			+e.text Отправить

+b.modals._service._vertical._right.mfp-hide#service-thanks
	+e.inside
		+e.check
			+icon('thanksCheck')
		+e.name._small.h2 Сообщение успешно отправлено
		+e.content.content.is-gray
			p
				| Вся переписка доступна
				br
				| в разделе Сообщения

+b.modals._service._right.mfp-hide#profile-order
	+e.name.h2 Сообщение исполнителю
	+e.FORM.form.form(action="" enctype="multipart/form-data")
		+e.input.input__
			+e.TEXTAREA.field._textarea(name="message" placeholder="Введите ваше сообщение")
		+e.dropzone.dropzone__.js-dropzone
			+e.area
				+e.INPUT.file(name="file" type="file" multiple)
				+e.preview
					+e.item
						+e.row.flex._vertical
							+e.icon
								+icon('doc')
							+e.name
								+e.SPAN(data-dz-name)
								+e.SPAN.size
									| &nbsp;(
									span(data-dz-size)
									| )
								+e.SPAN.status(data-dz-uploadprogress)
									+e.IMG.status-preload(src="/app/img/preload.svg")
									span.progress-text
								+e.SPAN.remove.js-remove-file(data-dz-remove)
									+icon('delete')
			+e.BUTTON.button.border-button__.p.strong.js-dropzone-trigger(type="button")
				+e.icon._clip
					+e.IMG(src="/app/img/clip.svg")
				+e.text Прикрепить файл
		+e.BUTTON.button.btn__.js-modal(data-modal="#profile-thanks")
			+e.text Отправить

+b.modals._service._vertical._right.mfp-hide#profile-thanks
	+e.inside
		+e.check
			+icon('thanksCheck')
		+e.name._small.h2 Сообщение успешно отправлено
		+e.content.content.is-gray
			p
				| Средства поступят на счет
				| в течение 1-2 банковских дней

+b.modals._sms._vertical._right.mfp-hide#sms
	+e.name.h2 Введите код из SMS
	+e.FORM.form.form.flex
		+e.INPUT.input-sms.h2(type="text" tabindex="0" name="sms")
		+e.INPUT.input-sms.h2(type="text" tabindex="1" name="sms")
		+e.INPUT.input-sms.h2(type="text" tabindex="2" name="sms")
		+e.INPUT.input-sms.h2(type="text" tabindex="3" name="sms")
	+e.P.notification Введенный код не верный
	+e.form-resend-wrapper

+b.bill.mfp-hide.modals#bill
	+e.BUTTON.close-btn.js-close-modal(type="button")
		SPAN.visually-hidden Закрыть

	+e.B.bill-title.h2 Опишите услугу

	+e.FORM.form(
		action="/"
		method="POST"
		autocomplete="off"
		enctype="multipart/form-data")
		+e.textarea-wrap
			+e.textarea-field-wrap
				+e.SPAN.error-message._textarea Обязательное поле для заполнения
				+e.TEXTAREA.textarea.p.css-scrollbar(
					type="text"
					placeholder="Введите описание услуги"
					name="billDescription"
					rows="3"
					maxlength="300")
			+e.chars-counter
				+e.SPAN.chars-current 0
				| /
				+e.SPAN.chars-max 300

		+e.params-wrap
			+e.params-content-wrap._deadlines
				+e.SPAN.params-slogan Укажите сроки выполнения

				+e.deadlines
					+e.SPAN.params-text.p Сроки

					+e.form-row.flex._vertical
						+e.form-label._select-country.flex
							+e.form-select._quantity.slct__
								select(name='how-much', id="how-much-field")
									option(selected value="1") 1
									option(value="2") 2
									option(value="3") 3
									option(value="4") 4
									option(value="5") 5
									option(value="6") 6
									option(value="7") 7

							+e.form-select._hours-days.slct__
								select(name='hours-days', id="hours-days-field")
									option(selected value="День") День
									option(value="Час") Час

			+e.params-content-wrap._price
				+e.SPAN.params-slogan._price Укажите стоимость работ

				+e.LABEL.price-label
					+e.SPAN.params-text.p Сумма
					+e.DIV.price-input-wrap
						+e.SPAN.error-message._price Обязательное поле для заполнения
						+e.INPUT.price-input.p.js-range-number(type="text",
							name='billPrice',
							id="price-field",
							placeholder="500"
							inputmode="numeric")
						+e.SPAN.price-char.p ₽

		+e.BUTTON.submit-btn.p(type="submit") Отправить
